.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
}

.i-name>:nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-name>:nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}

.i-name>:nth-child(3) {
  color: var(--gray);
  font-weight: 100;
  font-size: 14px;
  margin-top: 10px;
  width: 75%;
}

.i-button {
  width: 6rem;
  height: 2rem;
}

.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}

.i-icons>* {
  transform: scale(0.5);
}

.i-icons>*:hover {
  cursor: pointer;
}

.i-right {
  flex: 1;
  position: relative;
  
}
.i-right>* {
  position: absolute;
  z-index: 1;
}
.i-right>:nth-child(1){
  transform: scale(0.90);
  transform: rotate(210deg);
  top: 0%;
  left:10px;
}
.i-right>:nth-child(2){
  transform: scale(0.79);
  top: -6rem;
}
.i-right>:nth-child(3){
  transform: scale(0.35);
  left: -47.5%;
  top: -98.5%;
}

.i-right>:nth-child(4) {
  transform: scale(0.6);
  top: -15%;
  left: -15%;
  border-radius: 50%;
  padding: 0;
}

.blur {
  position: absolute;
  width: 50rem;
  height: 40rem;
  border-radius: 50%;
  background: #edd0ff;
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(70px);
}